In [50]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [51]:
producer = KafkaProducer(bootstrap_servers=['34.203.241.118:9092'], #change public ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8')) # send JSON data to Kafka Producer

In [23]:
producer.send('demo_test', value={'age': '23'})

In [52]:
df = pd.read_csv("data/indexProcessed.csv")

In [53]:
df_sorted = df.sort_values('Date')

In [54]:
df_sorted.head(10)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
40920,N225,1965-01-05,1257.719971,1257.719971,1257.719971,1257.719971,1257.719971,0.0,12.577200
40921,N225,1965-01-06,1263.989990,1263.989990,1263.989990,1263.989990,1263.989990,0.0,12.639900
40922,N225,1965-01-07,1274.270020,1274.270020,1274.270020,1274.270020,1274.270020,0.0,12.742700
40923,N225,1965-01-08,1286.430054,1286.430054,1286.430054,1286.430054,1286.430054,0.0,12.864301
40924,N225,1965-01-12,1288.540039,1288.540039,1288.540039,1288.540039,1288.540039,0.0,12.885400
40925,N225,1965-01-13,1281.670044,1281.670044,1281.670044,1281.670044,1281.670044,0.0,12.816700
40926,N225,1965-01-14,1289.500000,1289.500000,1289.500000,1289.500000,1289.500000,0.0,12.895000
40927,N225,1965-01-18,1271.680054,1271.680054,1271.680054,1271.680054,1271.680054,0.0,12.716801
40928,N225,1965-01-19,1270.339966,1270.339966,1270.339966,1270.339966,1270.339966,0.0,12.703400
40929,N225,1965-01-20,1268.880005,1268.880005,1268.880005,1268.880005,1268.880005,0.0,12.688800

In [55]:
df.shape

(104224, 9)

In [56]:
# while True:
#     dict_stock = df_sorted.sample(1).to_dict(orient="records")[0]
#     producer.send('demo_test', value=dict_stock)
#     sleep(1)

In [58]:
while True:
    for index, row in df_sorted.iterrows():
        dict_stock = row.to_dict()  # Convert row to dictionary
        producer.send('demo_test', value=dict_stock)
        sleep(1)  # Adjust sleep time as needed

KeyboardInterrupt:

In [59]:
producer.flush() #clear data from kafka server